.btn {
  border: none !important;
}
.btn-contrast {
  background-color: $color-contrast;
  width: 100%;
  text-transform: uppercase;
  position: relative;
  border: none;
}

.btn-contrast:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background: $color-darkgrey;
  border-radius: 0px 4px 4px 0;
}
.product {
  font-family: "Lato", sans-serif;

  &__title {
    font-size: 20px;
  }
  &__description {
    font-size: 18px;
    color: $color-darkgrey;
  }
}
