// font
$font-primary: "Playfair Display", serif;
$font-secondary: "Lato", sans-serif;

// colors
$color-black: #0a0a0a;
$color-white: #fff;
$color-lightgrey: #efefef;
$color-contrast: #e92569;
$color-font: #767676;
$color-background: #e5e5e5;
$color-detail: #c7c7c7;
