// Custom
$color-secondary: #c7c7c7;
$color-input: #d8c3a5;

$color-primary: #e92569;

//bootstrap colors
$theme-colors: (
  "primary": $color-primary,
  "dark": $color-input,
);

// Bootstrap
@import "~bootstrap/scss/bootstrap";
